#block-relationshipmodule-product .offer-products,
#block-relationshipmodule-research-groups .related-groups
{
	margin-top: 50px;

}

#block-relationshipmodule-product .block-title > span,
#block-relationshipmodule-research-groups .block-title > span
{
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgba(0, 0, 0, 0);

	background-origin: padding-box;
	background-size: auto;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;	
	display: block;
	font-family: Lato, sans-serif;
	font-size: 17px;	
	line-height: 20px;
	padding-bottom: 12px;
	padding-top: 12px;
	text-align: center;
	width: 341px;
}
#block-relationshipmodule-product .offer-products,
#block-relationshipmodule-research-groups .related-groups
{
	margin-top: 10px;
}
#block-relationshipmodule-product .offer-products .product,
#block-relationshipmodule-research-groups .related-groups .research-group
{
	
	background-color: rgba(0, 0, 0, 0);
	background-origin: padding-box;
	background-size: auto;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: rgb(51, 51, 51);
	
	font-family: Lato, sans-serif;
	font-size: 14px;
	font-weight: bolder;
	line-height: 20px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	text-align: left;
	margin: 10px 0px 10px 0px;
}


#block-relationshipmodule-product .offer-products .product #link
{
	background-image: url("../images/BOTON_CIRCULO_FLECHITA-ON.png");
}
#block-relationshipmodule-research-groups .related-groups .research-group #link
{
	background-image: url("../images/BOTON_FLECHITA_ROJA-OFF.png");
}
#block-relationshipmodule-product .offer-products .product #link,
#block-relationshipmodule-research-groups .related-groups .research-group #link
{
	float:none;
	display: block;	
	width: 100%;
	background-repeat: no-repeat;
	background-position-x: 100%; 
	background-position-y : 100%; 
}
#block-relationshipmodule-product .offer-products .product #link,
#block-relationshipmodule-research-groups .related-groups .research-group #link
{
	text-decoration: none;
}
#block-relationshipmodule-research-groups .related-groups .research-group #idGrp
{
	color:#818084;
	text-transform: uppercase;
	margin-left: 15px;
}
#block-relationshipmodule-research-groups .related-groups .research-group #description
{
	font-weight: normal;
	color:black;
}


#block-relationshipmodule-product .block-title
{
	border-bottom: 1px solid #e47516;

}
#block-relationshipmodule-product .block-title > span
{
	background-image: linear-gradient(rgb(228, 117, 22) 0px, rgb(196, 100, 19) 100%);
	color: rgb(247, 213, 188);
}
#block-relationshipmodule-research-groups .block-title
{
	border-bottom: 1px solid #3b7bb3;
}
#block-relationshipmodule-research-groups .block-title > span
{
	background-image: linear-gradient(rgb(59, 123, 179) 0px, rgb(51, 100, 153) 100%);
	color:#c4d5e8;
}
#block-relationshipmodule-product .offer-products .product
{
	background-image: radial-gradient(at 50% 50%, rgb(231, 232, 233) 0px, rgb(211, 212, 213) 100%);
}
#block-relationshipmodule-research-groups .related-groups .research-group
{
	background-image: radial-gradient(at 50% 50%, rgb(231, 232, 233) 0px, rgb(211, 212, 213) 100%);
}
#block-relationshipmodule-product .offer-products .product:hover
{
	background: #fbeade;
}
#block-relationshipmodule-research-groups .related-groups .research-group:hover
{
	background:radial-gradient(ellipse at center,#e2eaf4 0,#d7e2f0 100%);
}